.wrapper{
    background-color: #ddd ;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.group-header{
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

.title-name{
    background-color: #f1b99c;
    width: 100%;
    padding: 20px 50px;
}


.title-name > h3 {
    font-size: 40px;
    color: rgb(85, 66, 66);
    text-transform: uppercase;
}

.title-img{
    width: 480px;
    height: 230px;
}

.img-me{
    width: 100%;
    height: 100%;
}


.group-body{
    margin: 0 20px;
    display: flex;
}

.contact-info,
.obj-info,
.hob-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #505c69; 
    color: #fff;
}

.contact-info > h4, 
.obj-info > h4,
.hob-info > h4 {
    font-size: 22px;
    text-transform: uppercase;
    border-bottom: 3px solid #f1b99c;
    width: 254px;
}

.contact-info > i{
    margin: 10px 10px  0;
}

.contact-info i > span,
.obj-info > p{
    margin: 10px;
    font-weight: 350;
}

.hob-info > li {
    list-style: none;
    font-weight: 350;
    margin: 5px 10px;
}



.skill-info > ul {
    margin: 5px 10px;
    color: #f19f76;
    font-weight: 500;
}

.skill-info ul > li {
    border: none;
    margin: 5px;
    font-weight: 500;
    color: #000;
}

.edu-info,
.skill-info,
.exp-info{
    margin: 40px 90px;
}

.edu-info > h4, 
.skill-info > h4,
.exp-info > h4{
    padding: 5px 20px;
    width: 388px;
    background-color: #505c69;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    position: relative;
}

.edu-info > h4::before,
.skill-info >h4::before,
.exp-info > h4::before{
    content: "";
    display: block;
    height: 100%;
    width: 20%;
    background-color: #f1b99c;
    position: absolute;
    top: 0;
    right: 0;
}

.edu-info > h6,
.exp-info > h6{
    margin: 10px 10px;
}

